.backgroup-auth {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.auth-modal {
  position: relative;
  padding: 40px 20px;
  height: auto;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 5px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    min-width: 420px;
  }
}

.auth-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.auth-modal__icon-close {
  stroke: currentColor;
  &:hover {
    stroke: $button-accent-bg-color;
  }
}

.auth-modal__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: $accent-text-color;
}

.auth-modal-form__label {
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: $secondary-dark-text-color;
}

.auth-modal-form__input {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: $main-dark-text-color;
  padding-left: 10px;
  width: 100%;
  height: 30px;

  border: 1px solid #f38721;
  border-radius: 10px;
  outline: none;

  &:focus {
    border: 2px solid rgba(33, 33, 33, 0.2);
  }
}

.auth-modal-form__btn-box {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.auth-modal-form__btn {
  width: 130px;
  height: 44px;

  background: $button-accent-bg-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  text-transform: uppercase;
  border: transparent;
  border-radius: 5px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: transparent;
    border: 1px solid $secondary-dark-text-color;
    color: $secondary-dark-text-color;
  }

  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: 147px;
  }
}
.auth-modal-form__link {
  display: flex;
    justify-content: center;
    align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
color: $white-text-color;
background: $button-accent-bg-color;
  text-transform: uppercase;
  border: transparent;
  border-radius: 5px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: transparent;
    border: 1px solid $secondary-dark-text-color;
    color: $secondary-dark-text-color;
  }
}
.auth-modal-form__link-container {
  margin: auto;
  width: 130px;
  height: 44px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: 147px;
  }
}
