.backgroup-auth {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.backgroup-auth.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.auth-modal {
  position: relative;
  padding: 40px 20px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 280px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  //background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);

  @media screen and (min-width: 768px) {
    min-width: 420px;
  }
}

.auth-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.auth-modal__icon-close {
  stroke: currentColor;
  &:hover {
    stroke: $button-accent-bg-color;
  }
}

.auth-modal__title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: $accent-text-color;
}

.auth-modal .auth-modal__box {
  position: relative;

  & input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;

    &:focus ~ label {
      top: -20px;
      left: 0;
      color: $accent-text-color;
      font-size: 12px;
    }
    &:not(:placeholder-shown) + label {
      top: -20px;
      left: 0;
      color: $accent-text-color;
      font-size: 12px;
    }
  }

  & label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
  }
}
.auth-modal-form__btn-box {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.auth-modal-form__btn {
  width: 130px;
  height: 44px;
  padding: 13px 13px;
  background: $button-accent-bg-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: $main-dark-text-color;
  }

  @media screen and (min-width: 768px) {
    padding: 13px 46px;
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 46px;
    width: 147px;
  }
}
.auth-modal-form__link {
  margin: auto;
  width: 130px;
  height: 44px;
  padding: 13px 13px;
  background: $button-accent-bg-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: transparent;
    border: 1px solid #000000;
    color: $main-dark-text-color;
  }

  @media screen and (min-width: 768px) {
    padding: 13px 46px;
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 46px;
    width: 147px;
  }
}
.auth-modal-form__link-container {
  display: flex;
  justify-content: center;
}
