.movies, .library-movies {
    margin: 20px 0 40px 0;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        margin: 60px 0;
    }

    @include mq(desktop) {
        column-gap: 16px;
    }
}

.movie-card {
    width: 100%;
    min-height: 442px;
    padding: 6px;
    border-radius: 5px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include mq(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include mq(tablet) {
        width: calc((100% - 32px)/2);
        min-height: 495px;
    }

    @include mq(desktop) {
        width: calc((100% - 2*16px)/3);
        min-height: 634px;
    }

    &:hover {
        box-shadow: 0px 0px 59px -17px rgba(255, 107, 1, 1), inset 0px 0px 24px -9px rgba(84, 84, 84, 0.5);
        transform: scale(1.02);
        cursor: pointer;
    }
    &__img {        
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__title {
        flex-grow: 1;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;
        color: $main-dark-text-color;

        @include mq(desktop) {
            font-size: 20px;
            line-height: 1.2;
        }
    }
    &__details {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        color: $accent-text-color;

        @include mq(desktop) {
            font-size: 20px;
            line-height: 1.2;
        }
    }
    &__genres {
        flex-shrink: 2;
    }
    &__rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9px;

        font-size: 12px;
        line-height: 1.17;
        color: $white-text-color;

        width: 36px;
        height: 16px;
        background-color: $button-accent-bg-color;
        border-radius: 5px;

        @include mq(desktop) {
            width: 40px;
            height: 20px;
        }
    }
    
}

.img-container{
    margin-bottom: 8px;
    height: 402px;

    @include mq(tablet) {
        height: 455px;
    }
    @include mq(desktop) {
        height: 574px;
        margin-bottom: 12px;
    }
}

.blur-up {
    filter: blur(5px);
    transition: filter 400ms;
}

.blur-up.lazyloaded {
    filter: blur(0);
}