.footer {
  background: $light-grey-bg-color;
}
.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $footer-dark-text-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 2px;
  }
}
.footer__icon {
  margin: 0 10px;
}
.footer__link {
position: relative;
color: $footer-dark-text-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&--current::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 &:hover {
  color: $main-dark-text-color;
 }
  &--current:hover::after {
    background-color: $accent-text-color;
  }
}
