.footer {
  background: $light-grey-bg-color;
}
.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $footer-dark-text-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 2px;
  }
}
.footer__icon {
  margin: 0 10px;
}
.footer__link {
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    font-size: 18px;
    line-height: 1.71;
  }
}