.header {
  background: $light-grey-bg-color;
  background-image: url('../images/header-background/mob-header.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header-background/mob-header-2x.jpg');
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../images/header-background/tab-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header-background/tab-header-2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/header-background/desk-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header-background/desk-header-2x.jpg');
    }
  }
}

.header__container {
  padding-top: 42px;
  padding-bottom: 26px;
  @media screen and (min-width: 768px) {
    padding-top: 47px;
    padding-bottom: 20px;
  }
}

.header__site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: $white-text-color;
  padding: 10px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $secondary-dark-text-color;
    box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
      0 0 40px rgba(255, 0, 0, 0.313), 0 0 20px rgba(90, 98, 98, 0.643);
  }
  &:hover p {
color: $secondary-dark-text-color;
}
}
.header-logo__svg {
  margin: 0 10px;
}
.header-logo__text {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $white-text-color;
    margin-right: 10px;
  }
}
.header-nav-contaiher {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $white-text-color;
  margin-right: 10px;
  @media screen and (min-width: 480px) {
    margin-right: 39px;
  }
}
.header-nav__link {
  padding: 5px;
  border-radius: 5px;
  position: relative;
  color: $white-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $secondary-dark-text-color;
    box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
      0 0 40px rgba(255, 0, 0, 0.313), 0 0 20px rgba(90, 98, 98, 0.643);
  }
  &--current::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: $red-accent-color;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--current:hover::after {
    background-color: transparent;
  }
}

.authorization {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // padding: 5px;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: end;
  
    &:hover {
      color: $secondary-dark-text-color;
      box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
        0 0 40px rgba(255, 0, 0, 0.313), 0 0 20px rgba(90, 98, 98, 0.643);
    }
}

.authorization__btn-out {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  color: $white-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  align-items: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: end;
  &:hover {
    color: $secondary-dark-text-color;
  }
}

.authorization__icon {
  fill: $white-text-color;
  margin-right: 5px;
  margin-bottom: 2px;
}
.header-search {
  position: relative;
  border-radius: 10px;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--current::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: $white-text-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
      0 0 40px rgba(255, 0, 0, 0.313), 0 0 20px rgba(90, 98, 98, 0.643);
  }

  &--current:hover::after {
    background-color: transparent;
  }
  &:hover svg {
    fill: $secondary-dark-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.header-search__form {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.header-search__box {
  border: transparent;
  outline: transparent;
  background: transparent;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  color: $white-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: $white-text-color;
  }
  &:hover {
    outline: transparent;
  }
  &:hover::placeholder {
    color: $secondary-dark-text-color;
  }
}

.header-search__btn {
  padding-right: 10px;
  border: none;
  background: transparent;
  &:hover svg {
    fill: $secondary-dark-text-color;
  }
}
.header__massage-error {
  color: $red-accent-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 20px;
  }
}

.hidden-message-js {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// header-library
.header-library {
  background-image: url('../images/library-background/library-header-mob.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/library-background/library-header-mob-2x.jpg');
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../images/library-background/library-header-tab.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library-background/library-header-tab-2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/library-background/library-header-desk.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library-background/library-header-desk-2x.jpg');
    }
  }
}

.header-library__container {
  padding-bottom: 60px;
}
.header__buttons-container {
  display: flex;
  margin-top: 63px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 49px;
    justify-content: center;
  }
}

.header__btn {
  width: 130px;
  height: 44px;
  padding: 13px 36px;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  outline: transparent;

  border-radius: 5px;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &--activ {
    background-color: $button-accent-bg-color;
    border: transparent;
  }
  &--activ:focus,
  &--activ:hover {
    border: transparent;
    box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
      0 0 40px rgba(255, 72, 0, 0.474), 0 0 80px rgba(90, 98, 98, 0.643);
    outline: transparent;
  }
  &--indent {
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }

  &:focus,
  &:hover {
    border: transparent;
    box-shadow: 0px 0px 20px rgba(255, 38, 0, 0.588),
      0 0 40px rgba(255, 72, 0, 0.474), 0 0 80px rgba(90, 98, 98, 0.643);
    outline: transparent;
  }
  @media screen and (min-width: 768px) {
    padding: 13px 46px;
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 41px;
    width: 147px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
