.header {
  background: $light-grey-bg-color;
  background-image: url('../images/header-background/mob-header.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header-background/mob-header-2x.jpg');
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../images/header-background/tab-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header-background/tab-header-2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/header-background/desk-header.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header-background/desk-header-2x.jpg');
    }
  }
}

.header__container {
  padding-top: 42px;
  padding-bottom: 26px;
  @media screen and (min-width: 768px) {
    padding-top: 47px;
    padding-bottom: 20px;
  }
}

.header__site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  text-align: center;
  color: $white-text-color;
  padding: 10px 0;
}

.header-logo__text {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $white-text-color;
    margin-left: 10px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $white-text-color;

  &:not(:last-child) {
    margin-right: 39px;
  }
}
.header-nav__link {
  padding: 12px 0;
  position: relative;
  color: $white-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $secondary-dark-text-color;
  }
  &--current::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: $red-accent-color;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--current:hover::after {
    background-color: $secondary-dark-text-color;
  }
}
.header-search {
  position: relative;
  &--current::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: $white-text-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--current:hover::after {
    background-color: $red-accent-color;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 394px;
  }
}

.header-search__form {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.header-search__box {
  border: transparent;
  outline: transparent;
  background: transparent;
  width: 100%;
  padding: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  color: $white-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: $white-text-color;
  }
  &:hover {
    outline: transparent;
  }
  &:hover::placeholder {
    color: $secondary-dark-text-color;
  }
}

.header-search__btn {
  border: none;
  background: transparent;
  padding: 4px;
  &:hover svg {
    fill: transparent;
  }
}
.header__massage-error {
  color: $red-accent-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 20px;
  }
}

.hidden-message-js {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.authorization {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}
.authorization__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorization__icon {
  fill: $white-text-color;
  margin-right: 5px;
}
.authorization__item {
  color: $white-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-right: 9px;
  }
}
.authorization__link {
  color: $white-text-color;
  align-items: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $secondary-dark-text-color;
  }
  &:hover svg {
    fill: $secondary-dark-text-color;
  }
}

// header-library
.header-library {
  background-image: url('../images/library-background/library-header-mob.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/library-background/library-header-mob-2x.jpg');
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../images/library-background/library-header-tab.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library-background/library-header-tab-2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/library-background/library-header-desk.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library-background/library-header-desk-2x.jpg');
    }
  }
}

.header-library__container {
  padding-bottom: 60px;
}
.header__buttons-container {
  display: flex;
  margin-top: 63px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 49px;
    justify-content: center;
  }
}

.header__btn {
  width: 130px;
  height: 44px;
  padding: 13px 36px;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $button-accent-bg-color;
    border: transparent;
  }
  @media screen and (min-width: 768px) {
    padding: 13px 46px;
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 41px;
    width: 147px;
  }
}

.header__btn--indent {
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}
