.registerModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

@media screen and (max-width: 341px) {
    .registerModal {
        height: auto;
    }
}

@media screen and (max-width: 449px) {
    .registerModal {
        max-width: 437px;
        height: auto;
    }
}

@media screen and (min-width: 450px) {
    .registerModal {
        width: 437px;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .registerModal {
        width: 437px;
        height: auto;
    }
}

.is-hidden .registerModal {
    transform: translate(-50%, -50%) scale(0);
}

.registerBtnClose {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.registerBtnCloseIcon {
    width: 18px;
    height: 18px;
    fill:$main-dark-text-color;
}

.registerBtnCloseIcon:hover {
    fill: #ff6b08;
}

.registerBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    overflow: auto;
    opacity: 1;
}

.registerBackdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.registerModalText {
    margin: 0;
    padding-top: 57px;
    padding-bottom: 6px;
    text-align: center;
   
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #212121;
}

@media screen and (min-width: 1200px) {
    .registerModalText {
        line-height: 1.15;
    }
}

.registerForm {
    margin: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.registerFormUnit {
    position: relative;
    display: block;
}

.registerFormText {
    display: block;
    padding-top: 20px;
    padding-bottom: 4px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #757575;
}

.registerFormInput {
    margin: 0 0;
    padding-left: 10px;
    display: block;
    width: 95%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.registerFormInput:focus {
    border-color: #f38721;
}

.registerFormInput:focus {
    fill: #f38021;
}

.buttonLocation {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.logFormButtonOne {
    margin-right: 15px;
    width: 110px;
    height: 40px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #ff001b;
}

.logFormButtonTwo {
    margin-left: 15px;

    width: 110px;
    height: 40px;
    background: #ff6b08;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}