.tumbler-wrapper {
  margin-left: auto;
  margin-top: 20px;
  width: 50px;
  height: 30px;
  background-color: black;
  border: darken(#aae2f1, 40);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  position: relative;

  & .svg {
    width: 15px;
    height: 15px;
  }
}

.tumbler {
  
  position: absolute;
 
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.5s, background-color 0.5s;
  will-change: transform;
}

body {
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.night-mode {
    background-color: #0e171e;
    color: white;

    .tumbler {
      transform: translateX(calc(100% - 2px));
    }

    .movie-card__title {
      color: #fff;
    }

    .dt-pagination .dt-item .dt-link {
      color: #fff;
    }

    .popup__content {
      background-color: #0e171e;
      color: white;
      box-shadow: 0 0 59px -17px #ff6b01;

      & .film-info {
        color: white;
      }
      & .popup__btn {
        border: 1px solid #fff;
        color: white;
      }
      & .film-info__value--votes {
        color: #000;
      }
      & .popup__svg--close {
        fill: #fff;
        background: #fff;
      }
    }

    & .auth-modal {
      background-color: #0e171e;
      box-shadow: 0 0 59px -17px #ff6b01;

      & .auth-modal__icon-close {
        color: #fff;
      }

      & .auth-modal__box input {
        color: #fff;
        border-bottom: 1px solid #fff;
      }

      & .auth-modal__box label {
        color: #fff;
      }
    }
    & .team-modal {
      background-color: #0e171e;
      box-shadow: 0 0 59px -17px #ff6b01;

      & .team-modal__item {
        background-color: #213646;
      }

      & .socials__icon {
        color: #fff;
      }

      & .team-modal__icon {
        color: #fff;
      }

      & .swiper .swiper-button-next,
      & .swiper .swiper-button-prev {
        color: #fff;
      }
    }
    & .footer {
      background-color: #0e171e;
      border-top: 1px solid #fff;

      & .footer__text {
        color: #fff;
      }
    }
  }
}
