/* Text colors */
$white-text-color: #ffffff;
$main-dark-text-color: #000000;
$secondary-dark-text-color: #8C8C8C;
$footer-dark-text-color: #545454;
$accent-text-color: #FF6B08;

/* Background colors */
$button-accent-bg-color: #FF6B01;
$light-grey-bg-color: #F7F7F7;

$red-accent-color: #FF001B;