/* Text colors */
$white-text-color: #ffffff;
$main-dark-text-color: #000000;

$secondary-dark-text-color: #8c8c8c;
$footer-dark-text-color: #545454;
$accent-text-color: #ff6b08;

/* Background colors */
$button-accent-bg-color: #ff6b01;
$light-grey-bg-color: #f7f7f7;

$red-accent-color: #ff001b;
