<div class="mypag">
  <div className="container-fluid mt-5 mb-5">
    <div className="row justify-content-center">
      <div className="col-md-10">
        <div className="card">
          <div className="card-body p-0">
            <div className="table-responsive">
              <table className="table table-text-small mb-0">
                <thead className="thead-primary table-sorting">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <tbody class="js-tbody"></tbody>
                <div>sdcdsdcds</div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-filter-info ">
  <div class="dt-pagination">
    <ul class="dt-pagination-ul js-pg-container">

    </ul>
  </div>
  </div>
    <!-- <button class="js-plus-pag">+</button>
    <button class="js-minus-pag">-</button> -->
  
</div>
