<header class="header">
  <div class="container header__container">
    <nav class="header__site-nav">
      <a class="header-logo" href="./index.html">
        <svg class="" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="header-logo__text">Filmoteka</p>
      </a>
      <ul class="header-nav">
        <li class="header-nav__item">
          <a class="header-nav__link" href="./index.html">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link header-nav__link--current" href="./library.html">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons-container">
      <button type="submit" class="header__btn" data-watched>watched</button>
      <button type="submit" class="header__btn" data-queue>queue</button>
    </div>
    </div>
</header>
