<header class="header">
  <div class="container header_container">
    <nav class="header__site-nav">
      <a class="header-logo" href="./index.html">
        <svg class="" width="24" height="24">
								<use href="./images/symbol-defs.svg#icon-film"></use>
							</svg>
              <p class="header-logo_text">Filmoteka</p>
            </a>
      <ul class="header-nav">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header-search">
       <input class="header-search_box" type="text" id="search-box" placeholder="Movie search" autocomplete="off"/>
       <button type="submit" class="header-search_btn" >
        <svg class="header-search_icon" width="12" height="12">
								<use href="./images/symbol-defs.svg#icon-search"></use>
							</svg>
       </button>
    </div>
   
    

  </div>
</header>
.