<header class="header">
  <div class="container header__container">
    <nav class="header__site-nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo__svg" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="header-logo__text">Filmoteka</p>
      </a>
      <div class="header-nav-contaiher">
      <ul class="header-nav">
        <li class="header-nav__item">
          <a
            class="header-nav__link header-nav__link--current"
            href="./index.html"
            >Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="./library.html">my library</a>
        </li>
        </ul> 
        <div class="authorization">
          <button class="authorization__btn-out js-SignIn"  type="button">
            <svg class="authorization__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-user-check"></use></svg>
              Sign in</button>
         
        <button class="authorization__btn-out visually-hidden" type="button" id="logOutData">
        <svg class="authorization__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-user"></use></svg>
        log out</button>     
        </div>  
</div>
    </nav>
    <div class="header-search header-search--current">
      <form class="header-search__form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          class="header-search__box"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button type="submit" class="header-search__btn">
          <svg width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="header__massage-error hidden-message-js">
      Search result not successful. Enter the correct movie name and
    </p>
          <include src="./partials/tumbler.html"></include>
    </div>
  </div>
</header>
