<header class="header-library">
  <div class="container header__container header-library__container">
    <nav class="header__site-nav">
      <a class="header-logo" href="./index.html">
        <svg class="" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="header-logo__text">Filmoteka</p>
      </a>
      <ul class="header-nav">
        <li class="header-nav__item header-nav__item--margin">
          <a class="header-nav__link" href="./index.html">Home</a>
        </li>
        <li class="header-nav__item header-nav__item--margin">
          <a
            class="header-nav__link header-nav__link--current"
            href="./library.html"
            >my library</a
          >
        </li>
        <li class="header-nav__item  ">
          <a class="header-nav__link  js-SignIn  visually-hidden" href="#">
            <svg class="header-nav__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-user-check"></use>
            </svg>
            Sign in</a
          >
        </li>
        <li class="header-nav__item">
          <button
          class="authorization__btn-out "
          type="button"
          id="logOutData"
        >
          <svg class="authorization__icon" width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-user-check"></use>
          </svg>
          log out
        </button>
        </li>
      </ul>
    </nav>
    <div class="header__buttons-container">
      <button
        type="button"
        class="header__btn header__btn--indent header__btn--activ"
        data-watched
      >
        watched
      </button>
      <button type="submit" class="header__btn" data-queue>queue</button>
    </div>

    <include src="./partials/tumbler.html"></include>
  </div>
</header>
