<main>
    <div class="container">
      <p class="empty-notification notification">
        You have not added any movies to your library
      </p>
      <p class="guest-notification notification">Please log in</p>
      <ul class="library-movies js-movie-container"></ul>
    </div>
    <div class="table-filter-info">
      <div class="dt-pagination">
        <ul class="dt-pagination-ul js-pg-library-container"></ul>
        <ul class="dt-pagination-ul js-pg-library-container-mobile"></ul>
      </div>
    </div>
  </main>
