
<div class="loginBackdrop is-hidden ">
      <div class="loginModal">
        <button class="loginBtnClose ">
          <svg class="loginBtnCloseIcon">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <p class="loginModalText">Sing Up </p>
        <form action="submit" method="post" class="loginForm">
          <span class="loginFormText">Email</span>
          <div class="loginFormUnit">
            <input
              type="text"
              name="name"
              id="loginFormName"
              class="loginFormInput"
              placeholder=" "
            />
          </div>
          <span class="loginFormText">Password</span>
          <div class="loginFormUnit">
            <input
              type="password"
              name="password"
              id="loginFormPassword"
              class="loginFormInput"
              placeholder=""
            />
          </div>
          <span class="loginFormText">Confirm password</span>
          <div class="loginFormUnit">
            <input
              type="password"
              name="password"
              id="loginFormPassword"
              class="loginFormInput"
              placeholder=""
            />
          </div>
          <div class="buttonLocation">
            <button class="logFormButtonOne" type="submit">Log In</button>
          </div>        
        </form>
         </div>
    </div>