
<div class="registerBackdrop is-hidden js-registerBackdrop">
      <div class="registerModal js-registerModal">
        <button class="registerBtnClose js-registerBtnClose">
          <svg class="registerBtnCloseIcon">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <p class="registerModalText">Sing up</p>
        <form action="submit" method="post" class="registerForm" id="regForm">
          <span class="registerFormText">Email</span>
          <div class="registerFormUnit">
            <input
              type="email"
              name="name"
              id="registerFormEmail"
              class="registerFormInput"
              placeholder=" "
            />
          </div>
          <span class="registerFormText">Password</span>
          <div class="registerFormUnit">
            <input
              type="password"
              name="password"
              id="registerFormPassword"
              class="registerFormInput"
              placeholder=" "
            />
            <span class="reg-error"></span>
          </div>
          <span class="registerFormText">Confirm password</span>
          <div class="registerFormUnit">
            <input
              type="password"
              name="password"
              id="registerFormPassword"
              class="registerFormInput"
              placeholder=" "
            />
            <span class="reg-error"></span>
          </div>
          <div class="buttonLocation">
            <button class="logFormButtonOne js-btn-reg" type="button" id="submitData">
              Sing up
            </button>
          </div>
        </form>
      </div>
    </div>