 <div class="backgroup-auth is-hidden js-loginBackdrop">
      <div class="auth-modal js-loginModal">
        <button class="auth-modal__btn-close js-loginBtnClose">
          <svg class="auth-modal__icon-close" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="auth-modal__title">Sing in</h2>
        <form action="submit" method="post" class="auth-modal-form" id="logForm">
          <span class="auth-modal-form__label">Email</span>
          
            <input
              type="email"
              name="name"
              id="loginFormEmail"
              class="auth-modal-form__input"
              placeholder=" "
            />
          
          <span class="auth-modal-form__label">Password</span>
        
            <input
              type="password"
              name="password"
              id="loginFormPassword"
              class="auth-modal-form__input"
              placeholder=" "
            />
          
         
          <div class="auth-modal-form__btn-box ">
            <button class="auth-modal-form__btn " type="button" id="logInData">Log In</button>
          </div>
        
        </form>
      </div>
    </div>
    