<div class="overlay" data-overlay>
  <div class="team-modal" data-modal>
    <svg class="team-modal__icon" data-close-modal>
      <use href="./images/symbol-defs.svg#close"></use>
    </svg>
    <h2 class="team-modal__title">Our team</h2>
    <!-- TODO потім видалити зайву розмітку -->
    <ul class="team-modal__list">
      <!-- * Сергій Нещетний -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/serg.webp    1x,
              ./images/team-modal/serg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/serg.jpg    1x,
              ./images/team-modal/serg@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/serg.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Serhii Neshchetnyi</h3>
        <ul class="socials">
          <li class="socials__item">
            <a href="https://t.me/ITSeRg" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/SeRgNeschetniy"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Seruy Dimov -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/seruy.webp    1x,
              ./images/team-modal/seruy@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/seruy.jpg    1x,
              ./images/team-modal/seruy@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/seruy.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Seruy Dimov</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/Serghi08"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/Tripoli80"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * aNdRik -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/andrik.webp    1x,
              ./images/team-modal/andrik@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/andrik.jpg    1x,
              ./images/team-modal/andrik@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/andrik.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">aNdRik</h3>
        <ul class="socials">
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/Andrii-Smolianinov"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Владислав Клименко -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/vlad.webp    1x,
              ./images/team-modal/vlad@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/vlad.jpg    1x,
              ./images/team-modal/vlad@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/vlad.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Владислав Клименко</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/vladislaviwe"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/vladislaviwe"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Artem Damirel -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/artem.webp    1x,
              ./images/team-modal/artem@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/artem.jpg    1x,
              ./images/team-modal/artem@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/artem.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Artem Damirel</h3>
        <ul class="socials">
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Alex Makeyev -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/alex.webp    1x,
              ./images/team-modal/alex@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/alex.jpg    1x,
              ./images/team-modal/alex@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/alex.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Alex Makeyev</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/alexinverted"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/AlexMakeyev"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Maria Smetaniuk -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/maria.webp    1x,
              ./images/team-modal/maria@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/maria.jpg    1x,
              ./images/team-modal/maria@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/maria.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Maria Smetaniuk</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/maria_smetaniuk"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/MariaSmetaniuk"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Nata Kozak -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/nata.webp    1x,
              ./images/team-modal/nata@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/nata.jpg    1x,
              ./images/team-modal/nata@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/nata.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Nata Kozak</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/Natalja_Kozak"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/Natalja21"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- * Анастасія Вознюк -->
      <li class="team-modal__item">
        <picture>
          <source
            srcset="
              ./images/team-modal/nastia.webp    1x,
              ./images/team-modal/nastia@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-modal/nastia.jpg    1x,
              ./images/team-modal/nastia@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="team-modal__img"
            src="./images/team-modal/nastia.jpg"
            width="300"
            height="300"
            alt=""
          />
        </picture>
        <h3 class="team-modal__subtitle">Анастасія Вознюк</h3>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://t.me/avozniuk"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://github.com/SquareEnix-bot"
              target="_blank"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="_blank" class="socials__link">
              <svg class="socials__icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/serg.webp    1x,
                  ./images/team-modal/serg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/serg.jpg    1x,
                  ./images/team-modal/serg@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/serg.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Serhii Neshchetnyi</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/ITSeRg"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/SeRgNeschetniy"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/seruy.webp    1x,
                  ./images/team-modal/seruy@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/seruy.jpg    1x,
                  ./images/team-modal/seruy@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/seruy.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Seruy Dimov</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/Serghi08"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/Tripoli80"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/andrik.webp    1x,
                  ./images/team-modal/andrik@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/andrik.jpg    1x,
                  ./images/team-modal/andrik@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/andrik.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">aNdRik</h3>
            <ul class="socials">
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/Andrii-Smolianinov"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/vlad.webp    1x,
                  ./images/team-modal/vlad@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/vlad.jpg    1x,
                  ./images/team-modal/vlad@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/vlad.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Владислав Клименко</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/vladislaviwe"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/vladislaviwe"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <img
              class="team-modal__img"
              src="./images/team-modal/artem.jpg"
              width="300"
              height="300"
              alt=""
            />
            <h3 class="team-modal__subtitle">Artem Damirel</h3>
            <ul class="socials">
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/alex.webp    1x,
                  ./images/team-modal/alex@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/alex.jpg    1x,
                  ./images/team-modal/alex@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/alex.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Alex Makeyev</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/alexinverted"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/AlexMakeyev"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/maria.webp    1x,
                  ./images/team-modal/maria@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/maria.jpg    1x,
                  ./images/team-modal/maria@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/maria.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Maria Smetaniuk</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/maria_smetaniuk"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/MariaSmetaniuk"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/nata.webp    1x,
                  ./images/team-modal/nata@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/nata.jpg    1x,
                  ./images/team-modal/nata@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/nata.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Nata Kozak</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/Natalja_Kozak"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/Natalja21"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-modal__item">
            <picture>
              <source
                srcset="
                  ./images/team-modal/nastia.webp    1x,
                  ./images/team-modal/nastia@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team-modal/nastia.jpg    1x,
                  ./images/team-modal/nastia@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="team-modal__img"
                src="./images/team-modal/nastia.jpg"
                width="300"
                height="300"
                alt=""
              />
            </picture>
            <h3 class="team-modal__subtitle">Анастасія Вознюк</h3>
            <ul class="socials">
              <li class="socials__item">
                <a
                  href="https://t.me/avozniuk"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a
                  href="https://github.com/SquareEnix-bot"
                  target="_blank"
                  class="socials__link"
                >
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a href="#" target="_blank" class="socials__link">
                  <svg class="socials__icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
